<app-header></app-header>
<div class="container">
    <h1>About me</h1>
    <img src="https://images.unsplash.com/photo-1682687220198-88e9bdea9931?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
        alt="">
    <p appTextColor>
            Hi there! My name is Shakir, and I'm a web developer based in Mumbai. I specialize in building responsive and
        user-friendly websites using the latest web technologies.I've always been passionate about technology and how 
        it can be used to solve real-world problems. After studying computer science in college, I decided to pursue a career in web development because I love the creativity and
        problem-solving that goes into building websites.Over the years, I've gained experience working with a variety 
        of web technologies, including HTML, CSS,JavaScript, Angularjs, and Node.js. I'm always eager to learn new skills 
        and stay up-to-date with the latest trends in web development.When I'm not coding, you can usually find me exploring the great outdoors or trying out new recipes in the
        kitchen. I'm also an avid reader and enjoy learning about history and science.If you're looking for a web developer who is passionate about creating high-quality websites that meet your
        business needs, please don't hesitate to get in touch. I'd love to hear about your project and see how I can help bring your vision to life.
    </p>
</div>
<app-footer></app-footer>