<app-header></app-header>
<div>
    <div class="intro">
        <h1>A Web Developer</h1>
        <p>I am a web developer and I love to create websites.</p>
        <button routerLink="about">Learn More</button>
    </div>
    <div class="about-me">
        <div class="about-me-text">
            <h2>Profession</h2>
            <p>I am a web developer and I love to create websites. I am a very good developer and I am always looking
                for new projects. I am a very good developer and I am always looking for new projects.</p>
        </div>
        <img src="https://images.unsplash.com/photo-1602992708529-c9fdb12905c9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
            alt="me">
    </div>
</div>
<app-footer></app-footer>